<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Capture uses your camera to photograph events, flyers, and schedules to add to your calendar.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>LibreFranklin-Regular.ttf</string>
		<string>LibreFranklin-Medium.ttf</string>
		<string>LibreFranklin-SemiBold.ttf</string>
		<string>LibreFranklin-Bold.ttf</string>
		<string>JetBrainsMono-Regular.ttf</string>
		<string>JetBrainsMono-Medium.ttf</string>
	</array>
</dict>
</plist>
